/* Fancy message */

.box {
    width: 500px;
    height: 150px;
    background: linear-gradient(to right, yellow, purple);
    border: 2px solid black;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    font-size: xx-large;
    color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

@font-face {
    font-family: 'my-custom-font';
    src: url(fonts/Montserrat-ExtraLightItalic.otf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'my-custom-font', sans-serif;
}